@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}


.hero {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./assets/library.avif'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px 0px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tbody tr:hover {
    background-color: #333;
    color: #ddd;
  }

  .alert {
    position: absolute;
    top: 70px;
    left: 30%;
    width: 500px;
  }

  
  label::after{
    content: '*';
    color: tomato;
  }