@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}


.hero {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('./assets/library.avif'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px 0px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tbody tr:hover {
    background-color: #333;
    color: #ddd;
  }

  .alert {
    position: absolute;
    top: 70px;
    left: 30%;
    width: 500px;
  }

  
  label::after{
    content: '*';
    color: tomato;
  }

  .loader-div{
    position: absolute;
    top:60px;
    left:0px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #333;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 